.services {
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 30rem;
    margin-bottom: 8rem;
  
    margin-bottom: 13rem;
    /* scroll view */
    padding-top: 3rem;
  }
  /* left side */
  .awesome {
    display: flex;
    flex-direction: column;
    position: relative;
    /* gap: 20px; */
  }
  
  .awesome > :nth-child(1) {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
  }
  .awesome > :nth-child(2) {
    background-image: linear-gradient(90deg, #98179c, #f19ca1 25%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .awesome > :nth-child(3) {
    color: var(--gray);
    font-size: 14px;
    margin-top: 1rem;
  }
  .s-button {
    background: linear-gradient(90deg, #bd10c3, #cd1590 29%, #d2177e 58%, #f3a3a3);
    box-shadow: 0px 20px 24px 3px rgba(248, 62, 223, 0.42);
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 16px;
    width: 7rem;
    height: 3rem;
  }
  /* right sided */
  .cards {
    position: relative;
  }
  .cards > * {
    position: absolute;
  }
  
  /* blur */
  .s-blur2 {
    left: 14rem;
    top: 8rem;
  }
  
  .s-blur1 {
    top: 13rem;
    left: -18rem;
  }
  
  @media screen and (max-width: 480px) {
    .services {
      margin-top: 0;
      flex-direction: column;
      gap: 5rem;
      height: 66rem;
      padding: 0;
    }
  
    .cards {
      display: flex;
      flex-direction: column;
      gap: 17rem;
    }
    .cards > * {
      position: static;
    }
  }