.toggle{
    display: flex;
    justify-content:space-between;
    border: 3px solid var(--monopurple);
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    width: 2.5rem;
    cursor: pointer;

}
.toggle>*{
    width: 1rem;
    height: 1rem;
    color: var(--monogradient);
}
.t-button{
    border-radius: 100%;
    background: var(--monogradient);
    position: absolute;
}